* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(34, 1, 242);
}

.post h3 {
    background-color: #000000;
    color: white;
    padding: 5px;
}

.post-list li {
    list-style-type: none;
}

header {
    background-color: #000000;
    height: 7vh;
}

header a {
    color:#ffffff;
    padding: 12px;
}




a {
    text-decoration: none;
    color: rgb(34, 1, 242);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: rgb(34, 1, 242);
}

button {
    background-color: rgb(34, 1, 242);
    border: 1px solid rgb(34, 1, 242);
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 1, 242);
    border: 1px solid rgb(34, 1, 242);
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #000000;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid rgb(34, 1, 242);
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
        
}

header {
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(34, 1, 242);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: rgb(34, 1, 242);
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #d7c3c3;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}


.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #ffffff;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}



footer {
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #000000;
    height: 7vh;
    color: #ffffff;
}